spring:
  profiles:
    active: dev
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  jackson:
    serialization:
      write-dates-as-timestamps: false
logging:
  level:
    org:
      example: DEBUG
      springframework:
        security: DEBUG
        web: DEBUG
server:
  error:
    include-message: always
    include-stacktrace: always
  tomcat:
    accesslog:
      enabled: true
security:
  jwt:
    token:
      secret-key: ${JWT_SECRET_KEY}

    refresh-token:
      expiration: 604800000

youtube:
  api:
    key: ${YOUTUBE_API_KEY:}