spring:
  profiles:
    active: dev
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  jackson:
    serialization:
      write-dates-as-timestamps: false

security:
  jwt:
    token:
      secret-key: ${JWT_SECRET_KEY}

    refresh-token:
      expiration: 604800000

youtube:
  api:
    key: ${YOUTUBE_API_KEY:}