spring:
  datasource:
    url: jdbc:h2:file:./dbTest/test4db
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update
#      ddl-auto: create
#    show-sql: true

    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
app:
  search:
    useFullTextSearch: false

#  insert into app_user ( email , password ,  username , role ) values ('admin1@wp.pl', '$2a$10$Ex02DfV0RrCd2ugBxnbEnOqnNy9tr.6pu0ZFVdbbSqRZHv9O1K0hu', 'admin1', 'ADMIN');
#  insert into shop(id,name) values('1','olx');
#  insert into shop(id,name) values('2','allegro');
#  insert into shop(id,name) values('3','allegroLokalnie');
#  insert into offer_update_config(id, type, interval_time) values('1','MANUAL',null);
#  insert into offer_update_config(id, type, interval_time) values('2','AUTOMATIC',null);